.center { 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    width: 50% 
}
h1 { 
    color: darkgoldenrod
    background-color: darkgray
}

h4 {
    color: darkslategray

}
p {
   background-color: darkgray
}

 
  